/* .box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 150px auto;
    transition-duration:2s ; */
    /* transition-property: width; */
    /* transition-property: background-color; */
    /* transition-delay: 3s; */
    /* transition-timing-function: ease; */
    /* transition-timing-function: ease-in;
    transition-timing-function: ease-out; */
    /* transition-timing-function: ease-in-out; */
    /* transition: 3s 0s ease-in-out;
}
.box:hover{
    background-color: red; */
    /* width: 500px;
    transition-duration: 2s; */
    /* transform: rotate(360deg); */
    /* transform: translate(200px); */
    /* transform: translate(-100px,100px); */
    /* transform: translatey(200px);*/
    /* transform: translatey(200px); 
}    */


/*animation */
.box{
     width: 100PX;
    height: 100px;
    background-color: aqua;

    animation-name: box;
    animation-duration: 8s;
    border-radius: 50%;
    animation-fill-mode: forwards;
    animation-iteration-count: 8;
    position: relative;

}
@keyframes box{

    100%{
        width:150px;
        height: 150px;
        background-color:blue;
        border: 50%;
        top: 300px;
        left: 1000px;
    }
    50%
    {
        width:100px;
        height: 100px;
        background-color:red;
        border: 30%;
        top: 200px;
        left: 500px;
    }
    0%
    {
        width:100px;
        height: 100px;
        background-color:yellow;
        border: 10%;
        top: 100px;
        left: 300px;
        /* border-radius: 50%; */
    }
}
