*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,100px);
    background-color: rgb(54, 70, 220);
    border-radius: 10px;
    
}
#display{
    grid-column: span 4;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 10px;
    text-align: end;
    padding: 10px;
    border: none;
    
}
#equal{
    grid-column: span 2;
}
button{
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 16px;

}