table,th{
    border: 1px solid black;
    
    border-collapse: collapse;
    align
}
th{
    background-color: beige;
    width: 80px;
    height: 80px;
}
/* .white{
    background-color: white;
}
.black{
    background-color: blue;
} */
tr:nth-child(odd) th:nth-child(odd),tr:nth-child(even) th:nth-child(even){
    background-color:bisque;
    }
th{
    font-size: 50px;
    color: black;
}
#p1{
    color:orange;
}