h1{
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}
body{
    background-color:#00fa9a;
}
img{
    display: inline-block;
    width: 100%;
}
p1{
    text-decoration: none;
    color: black;
}
li{
    font-size: 2em;
}
div{
    background-color: aliceblue;
    text-align: center;
}