 .para1{
    background-color: aquamarine;
    flex: 1;
}
.para2{
    background-color: blanchedalmond;
    flex: 1;
    order: 3;
}
.para3{
    background-color: yellow;
    flex: 2;
    order: 2;
}
.container{
    display: flex;
    /* background-color: olive; */
    flex-direction: column;
}
p{
    padding: 10px;
    margin: 10px;
    text-align: justify;
} 
/* z@media(min-width:700px){ */
    /* .container {
    
    } */ 

/* } */
/* .container{
    background-color: aqua;
    display: flex;
    height: 500px; */
    /* justify-content: start;default start  */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: end; */
    /* align-items: center;
    flex-wrap: wrap; */
/* } */
/* .box{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid white;
}
.box2{
    flex-grow: 1;
    flex-shrink: 2;
} */
@media(min-width:700px) {
    .container{
        flex-direction: row;
    }
    .container p{
        background-color: blue;
    }
}