/* .box{
    width: 200px;
    height: 200px;
    background: radial-gradient(yellow 20%,blue 40%,red 30%);
    margin: auto;
} */
/* html{
    font-size: 20px;
}
div{
    font-size: 16px;
}
.para1{
    background-color: khaki;
    font-size: 1.5em;
}
.para2{
    background-color: lawngreen;
    font-size: 2rem;
} */
.box{
    width: 60vw;
    height: 70vh;
    border: 2PX solid ORANGE;
}