/* body{
    background-color: green;
}
.container div{
    background-color: blue;
   
} */
/* .container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fit,minmax(400px,1fr)); */
    /* grid-template-columns: minmax(800px,1fr)1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
    /* column-gap: 10px;
    row-gap: 10px; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr ;
    gap: 10px;
} */ 

/* .container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.box{
    background-color: yellow;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    grid-column: span 3;
}
.box2{
    grid-row: span 3;
} */
.layout div{
    border: 2px solid  black;
    background-color: antiquewhite;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "h h h h" "sb1 m m m sb2" "f f f";
}
.header{
    grid-area: h;
}
.footer{
    grid-area: f;
}
.sidebar1{
    grid-area: sb1;
}
.sidebar2{
    grid-area: sb2;
}
.main{
    grid-area: m;
}