a{
    display: block;
    text-decoration: none;
}
a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    /* font-size: 30px; */
    cursor: pointer;
}
a:focus{
    color: brown;
}
a:active{
    color: blue;
}