li{
    /* display: inline; */
    /* list-style-type:disc ; */
    /* list-style-position:inside ; */
}
#position{
    list-style: square inside;
}
#order{
    /* display: none; */
    /* visibility: hidden; */
}