#p1{
    text-align: center;
    color: blue;
    
}
#p4{
    background-color: rgb(34, 34, 247);
    width: 250px;
    height: 30px;
}
#p5{
    width: 300px;
    color: aqua;
    height: 180px;
    position: relative;
    left: 40%;
}
.p6{
    width: 250px;
}
#p7{
    text-decoration: none;
}