*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 221, 225);
   
}
.calc{
    display: grid;
    grid-template-columns: repeat(4,100px);
    background-color: black;
    border-radius: 25px;
    height: 85vh;
}
#view{
    grid-column: span 4;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
}
button{
    height: 50px;
    border-radius: 30px;
    /* padding: 20px; */
    margin: 10px;
    font-size: 20px;
    text-align: auto ;
    border: 3px solid grey;
    padding-bottom: 3px;
    

    
}
button:hover{
    background-color: RED;
}