@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 8px 0px orange ;
    z-index: 10;
}
.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important;
    border-bottom: 1px solid white;
}
.nav-link:hover{
    border-bottom: 4px solid blue;
}
section{
    width: 100%;
    min-height: 100vh;
}

/* home section */
#home{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(../eclipse/images/web.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: wheat;
    flex-direction: column;
}
#home p{
    position: absolute;
    top: 50%;
    font-size: 50px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home p:nth-child(1){    animation-delay: 0s;
}
#home p:nth-child(2){
    animation-delay: 3s;
}
#home p:nth-child(3){
    animation-delay: 6s;
}
#home p:nth-child(4){
    animation-delay: 9s;
}


@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#home span{
    color: yellow;
}
/* 576-breakpoint */
@media screen and (max-width:576px) {
    #home p{
        font-size: 80px;
    }
    
}
