.box1{
    width: 130px;
    height: 130px;
    background-color: blue;
    position: relative;
    /* left: 50px;
    top: 70px; */
}
.box2{
    width: 50px;
    height: 50px;
    background-color: yellow;
    /* position: fixed;/absolute */
    /* top: 20px;
    left: 80px; */
    position: sticky;
    top: 0px;
    left: 40%;
    bottom: 0px;
}