h2{
    color: red;
  }
  #p1{
color: blue;
}
.b1,.c1{
color: gold;
background-color: rgb(29, 238, 238);
}
*{
background-color: lightgoldenrodyellow;
}
div form{
color: aqua;
background-color: #6388e6;
}