/* p{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-transform:capitalize ;
    line-height: 50px;
    word-spacing: 20px;
    letter-spacing: 20px;
    text-decoration: underline;
    text-shadow: 0px 1px 2px red;
    text-indent: 50px; 
    text-align: justify;   
}
h1{
    text-align: center;
}
p::first-letter{
    font-size: 35px;
    text-align: right;
} */
/* *{
    margin: 0px;
    padding: 0px;
}
#p1{
   background-color: orange;
   width: 300px;
   height: 100px;
}
#p2{
    background-color: white;
    width: 300px;
    height: 100px;
    
}
img{
    margin-top: 25px;
    margin-left:90px ;
}
#p3{
    background-color: green;
   width: 300px;
   height: 100px;
}
body,h1,p{
    border: 3px solid black ;
    /* background-color: yellow; */
/* } */
/* p{ */
    /* margin: 15px; */
    /* margin-top:50px ;
    margin-bottom:20px ;
    margin-left: 15px;
    margin-right: 10px; */
    /* margin: 10px 20px 30px 40px; */
    /* margin: 10px auto;
    padding: 30px;
    text-align: justify; */
    /* width: 300px;
    height: 200px;
    overflow:scroll; */
    /* border-radius: 20px; */
    /* border-radius: 50%;
    background-color: blue; */
    /* color: red; */
   /* border-radius: 20px 25px 0px 0px;
    border-bottom-right-radius: 25px; 
    box-shadow: inset -10px -10px 30px red ,inset 10px 10px 30px red ;
    width: 300px;
    height: 400px;
    overflow: scroll;  */

/* } */
li{

}